<head>
<Style>
  body
 {color: orange;
   font-size: 50px;
   background-color: 
radial-gradient(circle at 50% 59%, #D2CAAB 3%, #364E27 4%, #364E27 11%, rgba(54,78,39,0) 12%, rgba(54,78,39,0)) 50px 0,
radial-gradient(circle at 50% 41%, #364E27 3%, #D2CAAB 4%, #D2CAAB 11%, rgba(210,202,171,0) 12%, rgba(210,202,171,0)) 50px 0,
radial-gradient(circle at 50% 59%, #D2CAAB 3%, #364E27 4%, #364E27 11%, rgba(54,78,39,0) 12%, rgba(54,78,39,0)) 0 50px,
radial-gradient(circle at 50% 41%, #364E27 3%, #D2CAAB 4%, #D2CAAB 11%, rgba(210,202,171,0) 12%, rgba(210,202,171,0)) 0 50px,
radial-gradient(circle at 100% 50%, #D2CAAB 16%, rgba(210,202,171,0) 17%),
radial-gradient(circle at 0% 50%, #364E27 16%, rgba(54,78,39,0) 17%),
radial-gradient(circle at 100% 50%, #D2CAAB 16%, rgba(210,202,171,0) 17%) 50px 50px,
radial-gradient(circle at 0% 50%, #364E27 16%, rgba(54,78,39,0) 17%) 50px 50px;
background-color:#63773F;
background-size:100px 100px;;
   font-family: Sans-Serif;
 } 

</Style>
</head>
<body>
<h1> Hello World!!!

<%= "I LOVE"+ "RUBY"%>
<%= 1+2 %>



<div> 1+2 </div>


<% catlady = true%>
<% if catlady ==true%>
<p> Jon is a crazy cat lady!</p>
<% else%> 
<p> Join Adielle's cat hating army</p>
<% end %> 



<% comments = ['Your pictures are so cute', 'Love the dog!!', 'Miss you']%> 
<ol>
  
  <% comments.each do |comment|%>
    <li><%=comment %></li>
    <%end%> 
 <li>Your pictures are so cute </li> 
 <li>Love the dog!!</li>
 <li> Miss you</li>
  
  
</ol>



</h1>
</body>